html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

/* Hero
------------------------ */
.hero {
    background-image: url("../assets/background-img-1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 300px;
    color: white;
    text-align: center;
}

h1 {
    font-size: 48px;
    font-family: 'Oswald', serif;
}

.hero h2 {
    font-family: 'Source Sans Pro', serif;
    font-size: 24px;
    opacity: 0.7;
}

/* Main-content
------------------------ */
.main-content {
    text-align: center;
    margin: 0 auto;
    padding: 130px;
    background-color: #EEEEEE;
    color: black;
    font-family: 'Source Sans Pro', serif;
}

.main-content h2 {
    font-family: 'Oswald', serif;
    font-size: 48px;
    color: #464547;
    padding: 5px 0;
}

.main-content h3 {
    padding: 0 0 10px 0;
    font-size: 24px;
    color: #666666;
    
}

.main-content p {
    font-size: 16px;
    padding: 10px 10px 15px 50px;
}

#read-more {
    width: 115px;
    height: 40px;
    border-radius: 18px;
    border: none;
    background-color: #39C2D7;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}

/* Learn-more
------------------------ */
.learn-more {
    background-image: url("../assets/background-img-2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    position: relative;
    height: 100%;
}

.overlay {
    margin: 0 auto;
    padding: 150px;
    text-align: center;
    width: auto;
    background-color: rgba(140, 79, 42, 0.3);
    z-index: 1;
}
.learn-more h2 {
    font-family: 'Oswald', serif;
    font-size: 48px;
}

.learn-more h3 {
    font-family: 'Source Sans Pro', serif;
    font-size: 24px;
    font-weight: lighter;
}

#play-btn {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    background-color: #39C2D7;
    color: #ffffff;
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 40px;
}

/* Footer
------------------------ */
footer {
    background-color: #464547;
    margin: 0 auto;
    padding: 20px;
    color: rgba(255, 255, 255, 0.4);
    font-size: 18px;
    font-family: 'Source Sans Pro', serif; 
}

.container {
    margin: 0 auto;
    padding: 0 100px;
}

#footer-header {
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 3px;
    padding-top: 0;
}

a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}

a:hover {
    background: rgb(83, 115, 166);
}